html,
body {
    background-color: #162832;
    margin: 0;
    height: 100%;
    font-family: "Inter", sans-serif;
    color: white;
}

h1 {
    font-family: "Figtree", sans-serif;
    font-size: 30pt;
    font-weight: bold;
}

p {
    font-size: 12pt;
    font-weight: normal;
}

.no_decoration {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Figtree", sans-serif;
    font-size: 18pt;
    font-weight: bold;
}

#unselected {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1b1f21;

    min-width: 100pt;
    min-height: 100pt;
    max-width: 100pt;
    max-height: 100pt;

    border: dashed;
    border-width: 0pt 2pt 0pt 2pt;
    border-color: #5d5d5d;

    box-shadow: 0px 15pt #0e0e0e;
}

#unselected:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1f21;

    min-width: 100pt;
    min-height: 100pt;
    max-width: 100pt;
    max-height: 100pt;

    margin-top: 5pt;
    box-shadow: 0px 10pt #0e0e0e;
}

#selected {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1f21;

    min-width: 100pt;
    min-height: 100pt;
    max-width: 100pt;
    max-height: 100pt;

    border: dashed;
    border-width: 0pt 2pt 0pt 2pt;
    border-color: #5d5d5d;

    margin-top: 7pt;
    box-shadow: 0px 8pt #0e0e0e;
}

#nav_fill {
    background-color: #1b1f21;
    width: 100%;
    height: 100pt;
    flex-grow: 1;
    box-shadow: 0px 15pt #0e0e0e;
}

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 10);
}

footer a {
    width: 100%;
}

#fix_footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

.platform_banner {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: auto;
}

#plat_rev {
    flex-direction: row-reverse;
}

.platform_banner:hover {
    outline: 3pt solid black;
    outline-offset: -8px;
}

.platform_banner img {
    margin-left: 20px;
    margin-right: 20px;
}

.platform_banner p {
    color: white;
    font-size: 40pt;
    font-weight: bold;
    font-family: "Figtree", sans-serif;
}

.game_display {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-repeat: repeat;
}

.game_display img {
    max-width: 50%;
    margin: 20pt;
}

.game_display div {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game_display div p {
    max-width: 75%;
    margin: 5pt;
    text-wrap: balance;
}

.game_display div a {
    display: inline-block;
    width: fit-content;
}

.game_display div a img {
    margin: 0;
    max-width: 100%;
}

.project_display {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-repeat: repeat;
}

.project_display div {
    margin: 20pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#washi {
    background-image: url("../assets/projects/washi/bg.png");
    color: black;
}

#dmg {
    background-color: #111606;
    color: white;
}

#kitty {
    background-image: url("../assets/projects/hardcore_kitty/bg.gif");
    color: white;
}

#moonlight {
    background-image: url("../assets/projects/moonlight/bg.png");
    color: white;
}

#inkcat {
    background-color: #e5b770;
    color: #452600;
}
