body {
    margin: 0;
}

.no_decoration {
    text-decoration: none;
}

h1 {
    font-family: "Figtree", sans-serif;
    font-size: 30pt;
    font-weight: bold;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 12pt;
    font-weight: normal;
}

#long_banners {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow:
        0px 5px 10px grey,
        0px -5px 10px grey;
}

#platform_banner {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 100%;
}

#platform_banner:hover {
    outline: 3pt solid black;
    outline-offset: -8px;
}

#platform_banner img {
    margin-left: 20px;
    margin-right: 20px;
}

#platform_banner p {
    color: white;
    font-size: 40pt;
    font-weight: bold;
    font-family: "Figtree", sans-serif;
}

.game_display {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-repeat: repeat;
}

.game_display img {
    max-width: 50%;
    margin: 20pt;
}

.game_display div {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game_display div p {
    max-width: 75%;
    text-wrap: balance;
}

.game_display div a {
    display: inline-block;
    width: fit-content;
}

.game_display div a img {
    margin: 0;
    max-width: 100%;
}

.project_display {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-repeat: repeat;
}

.project_display div {
    margin: 20pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#washi {
    background-color: #8aacb2;
    color: black;
}

#dmg {
    background-color: #111606;
    color: white;
}

#kitty {
    background-image: url("../assets/projects/hardcore_kitty/bg.gif");
    color: white;
}

#moonlight {
    background-image: url("../assets/projects/moonlight/bg.png");
    color: white;
}

#inkcat {
    background-color: #e5b770;
    color: #452600;
}
