html {
    --bg: #162832;
    --block-bg: #1b1f21;
    --block-shadow: #0e0e0e;
}

body {
    background-color: var(--bg);
    margin: 0;
    height: 100%;
    font-family: "Inter", sans-serif;
    color: white;
}

h1 {
    font-family: "Figtree", sans-serif;
    font-size: 30pt;
    font-weight: bold;
}

p {
    font-size: 12pt;
    font-weight: normal;
}

.no_decoration {
    text-decoration: none;
    color: white;
}

.spacer {
    background-color: #0e0e0e;
    height: 10pt;
    width: 100%;
    box-shadow:
        0px -2pt 10pt #0e0e0e,
        0px 2pt 10pt #0e0e0e;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Figtree", sans-serif;
    font-size: 18pt;
    font-weight: bold;
}

#unselected {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--block-bg);

    min-width: 100pt;
    min-height: 57.69pt;
    max-width: 100pt;
    max-height: 57.69pt;

    border: dashed;
    border-width: 0pt 2pt 0pt 2pt;
    border-color: #5d5d5d;

    box-shadow: 0px 15pt var(--block-shadow);
}

#unselected:hover {
    margin-top: 5pt;
    box-shadow: 0px 10pt var(--block-shadow);
}

#selected {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--block-bg);

    min-width: 100pt;
    min-height: 57.69pt;
    max-width: 100pt;
    max-height: 57.69pt;

    border: dashed;
    border-width: 0pt 2pt 0pt 2pt;
    border-color: #5d5d5d;

    margin-top: 7pt;
    box-shadow: 0px 8pt var(--block-shadow);
}

#nav_fill {
    background-color: var(--block-bg);
    width: 100%;
    height: 57.69pt;
    flex-grow: 1;
    box-shadow: 0px 15pt var(--block-shadow);
}

@media screen and (min-width: 1030px) {
    #platform_div {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 30pt;
    }

    .platform_button p {
        font-weight: bold;
        color: white;
        margin-left: 5pt;
    }
}

@media screen and (max-width: 1030px) {
    #platform_div {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 30pt;
    }

    .platform_button p {
        display: none;
    }
}

#platform_fill {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: var(--block-bg);
    width: 100%;
    height: 30pt;
    flex-grow: 1;
    box-shadow: 0px 10pt var(--block-shadow);
}

#platform_divider {
    background-color: var(--block-bg);
    width: 25pt;
    height: 30pt;
    box-shadow: 0px 10pt var(--block-shadow);
}

.platform_button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    min-height: 30pt;
    min-width: 30pt;
    max-height: 30pt;
    width: 300pt;

    background-color: var(--back);
    box-shadow: 0px 10pt var(--shadow);

    text-decoration: none;
}

.platform_button:hover {
    background-color: var(--back);
    margin-top: 4pt;
    box-shadow: 0px 6pt var(--shadow);
}

.platform_button img {
    height: 25pt;
}

@media screen and (min-width: 1300px) {
    .game_display {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        background-repeat: repeat;
    }
}

@media screen and (max-width: 1300px) {
    .game_display {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: stretch;
        background-repeat: repeat;
    }
}

.game_display img {
    object-fit: scale-down;
    max-width: 50%;
    margin: 20pt;
}

@media screen and (min-width: 1300px) {
    .game_display div {
        min-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .game_display div p {
        max-width: 75%;
        margin: 5pt;
        text-wrap: balance;
    }
}

@media screen and (max-width: 1300px) {
    .game_display div {
        min-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .game_display div p {
        max-width: 75%;
        margin: 5pt;
        text-wrap: balance;
        text-align: center;
    }
}

.game_display div a {
    display: inline-block;
    width: fit-content;
}

.game_display div a img {
    margin: 0;
    max-width: 100%;
}

.project_display {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-repeat: repeat;
}

.project_display div {
    margin: 20pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#washi {
    background-image: url("../assets/projects/washi/bg.png");
    color: black;
}

#dmg {
    background-color: #111606;
    color: white;
}

#kitty {
    background-image: url("../assets/projects/hardcore_kitty/bg.gif");
    color: white;
}

#moonlight {
    background-image: url("../assets/projects/moonlight/bg.png");
    color: white;
}

#inkcat {
    background-color: #e5b770;
    color: #452600;
}

#frederik {
    background-color: #587793;
    color: white;
}
